<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>幼升小算术</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        .form-inline .input-group.input-group-compact {
            width : 12rem;
        }
        .form-inline .form-control.form-control-compact {
            width : 5rem;
        }
    </style>
</head>

<body>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/vue.min.js"></script>
<script src="/js/jspdf.min.js"></script>
<script src="/js/test_paper.js"></script>

<div class="container">
    <main id="app" role="main">
        <div class="card bg-light">
            <article class="card-body mx-auto">
                <h4 class="card-title mt-3 text-center">加减法题目生成器</h4>

                <div class="mx-auto mb-sm-2 text-center">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Setting Mode">
                        <button type="button" class="btn btn-outline-primary" v-on:click="switchSettingModeTo('simple')">简易设置</button>
                        <button type="button" class="btn btn-outline-primary" v-on:click="switchSettingModeTo('advanced')">自定义设置</button>
                    </div>
                </div>

                <form class="form-inline" v-on:submit.prevent v-if="settingMode === 'simple'">
                    <div class="form-group">
                        <label for="operatorTypeSimple" class="col-form-label col-form-label-sm mr-sm-1 mb-sm-2" >运算</label>
                        <select id="operatorTypeSimple" class="form-control form-control-sm form-control-compact mr-sm-2 mb-sm-2" v-model="simpleForm.operator" required>
                            <option value="PLUS" selected>加法</option>
                            <option value="MINUS">减法</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="numberOfQuestionsSimple" class="col-form-label col-form-label-sm mr-sm-1 mb-sm-2">题目数</label>
                        <input id="numberOfQuestionsSimple" type="number" min="1" max="100" class="form-control form-control-sm form-control-compact mr-sm-2 mb-sm-2" placeholder="几道题" v-model="simpleForm.numberOfQuestions" required>
                    </div>

                    <div class="form-group">
                        <label for="numberOfDigits" class="col-form-label col-form-label-sm mr-sm-1 mb-sm-2">几位数</label>
                        <select id="numberOfDigits" class="form-control form-control-sm form-control-compact mr-sm-2 mb-sm-2" v-model="simpleForm.numberOfDigits" required>
                            <option selected>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="form-check mr-sm-2 mb-sm-2">
                            <input class="form-check-input" type="checkbox" id="allowCarryOrBorrow" v-model="simpleForm.isCarryOrBorrowEnabled">
                            <label class="form-check-label" for="allowCarryOrBorrow">
                                进/退位
                            </label>
                        </div>
                    </div>

                    <button id="add-simple-scope-btn" class="btn btn-outline-primary btn-sm mb-sm-2" v-on:click="addScope()">加入出题范围</button>
                </form>

                <form class="form-inline" v-on:submit.prevent v-if="settingMode === 'advanced'">
                    <div class="form-group">
                        <label for="operatorType" class="col-form-label col-form-label-sm mr-sm-1 mb-sm-2" >运算</label>
                        <select id="operatorType" class="form-control form-control-sm form-control-compact mr-sm-2 mb-sm-2" v-model="advancedForm.operator" v-on:change="onOperatorChange($event)" required>
                            <option value="PLUS" selected>加法</option>
                            <option value="MINUS">减法</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="numberOfQuestions" class="col-form-label col-form-label-sm mr-sm-1 mb-sm-2">题目数</label>
                        <input id="numberOfQuestions" type="number" min="1" max="100" class="form-control form-control-sm form-control-compact mr-sm-2 mb-sm-2" placeholder="几道题" v-model="advancedForm.numberOfQuestions" required>
                    </div>

                    <div class="form-group">
                    <label id="labelLeftOperand" for="leftOperand" class="col-form-label col-form-label-sm mr-sm-1 mb-sm-2">加数</label>
                    <div class="input-group input-group-sm input-group-compact mr-sm-2 mb-sm-2" id="leftOperand">
                        <div class="input-group-prepend">
                            <div class="input-group-text">从</div>
                        </div>
                        <input id="minLeftOperand" type="number" min="0" class="form-control" placeholder="最小" v-model="advancedForm.minLeftOperand" required>
                        <div class="input-group-prepend">
                            <div class="input-group-text">到</div>
                        </div>
                        <input id="maxLeftOperand" type="number" min="0" class="form-control" placeholder="最大" v-model="advancedForm.maxLeftOperand" required>
                        <div id="leftOperandValidationError" class="d-none invalid-feedback">最小值不可以比最大值大噢</div>
                    </div>
                    </div>

                    <div class="form-group">
                    <label id="labelRightOperand" for="rightOperand" class="col-form-label col-form-label-sm mr-sm-1 mb-sm-2">加数</label>
                    <div class="input-group input-group-sm input-group-compact mr-sm-2 mb-sm-2" id="rightOperand">
                        <div class="input-group-prepend">
                            <div class="input-group-text">从</div>
                        </div>
                        <input id="minRightOperand" type="number" min="0" class="form-control" placeholder="最小" v-model="advancedForm.minRightOperand" required>
                        <div class="input-group-prepend">
                            <div class="input-group-text">到</div>
                        </div>
                        <input id="maxRightOperand" type="number" min="0" class="form-control" placeholder="最大" v-model="advancedForm.maxRightOperand" required>
                        <div id="rightOperandValidationError" class="d-none invalid-feedback">最小值不可以比最大值大噢</div>
                    </div>
                    </div>

                    <div class="form-group">
                    <label id="labelAnswer" for="answer" class="col-form-label col-form-label-sm mr-sm-1 mb-sm-2 mb-sm-2">和</label>
                    <div class="input-group input-group-sm input-group-compact mr-sm-2 mb-sm-2 mb-sm-2" id="answer">
                        <div class="input-group-prepend">
                            <div class="input-group-text">从</div>
                        </div>
                        <input id="minAnswer" type="number" min="0" class="form-control" placeholder="最小" v-model="advancedForm.minAnswer" required>
                        <div class="input-group-prepend">
                            <div class="input-group-text">到</div>
                        </div>
                        <input id="maxAnswer" type="number" min="0" class="form-control" placeholder="最大" v-model="advancedForm.maxAnswer" required>
                        <div id="answerValidationError" class="d-none invalid-feedback">最小值不可以比最大值大噢</div>
                    </div>
                    </div>

                    <button id="add-scope-btn" class="btn btn-outline-primary btn-sm mb-sm-2" v-on:click="addScope()">加入出题范围</button>
                </form>

                <form class="text-center" v-on:submit.prevent v-if="settingMode === 'simple'">
                    <div v-if="tooManyScopes" class="form-row">
                        <div class="form-group col-12">
                            <div class="alert alert-danger" role="alert">
                                每次最多添加<strong>5组</strong>出题范围噢
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <div class="card-deck">
                                <div class="card" v-for="(scope, index) in userSettings.simpleScopes">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ scopeTitle(scope) }}</h5>
                                        <p class="card-text">{{ scopeNumberOfDigits(scope) }}</p>
                                        <p class="card-text">{{ scopeIsCarryOrBorrowEnabled(scope) }}</p>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-right">
                                            <button type="button" class="close" aria-label="Close" v-on:click="removeScope(index)">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button id="generate-simple-btn" class="btn btn-outline-primary btn-sm" v-on:click="generateTestPaper()">生成题目</button>
                </form>

                <form class="text-center" v-on:submit.prevent v-if="settingMode === 'advanced'">
                    <div v-if="tooManyScopes" class="form-row">
                        <div class="form-group col-12">
                            <div class="alert alert-danger" role="alert">
                                每次最多添加<strong>5组</strong>出题范围噢
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <div class="card-deck">
                                <div class="card" v-for="(scope, index) in userSettings.advancedScopes">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ scopeTitle(scope) }}</h5>
                                        <p class="card-text">{{ scopeLeftOperandRange(scope) }}</p>
                                        <p class="card-text">{{ scopeRightOperandRange(scope) }}</p>
                                        <p class="card-text">{{ scopeAnswerRange(scope) }}</p>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-right">
                                            <button type="button" class="close" aria-label="Close" v-on:click="removeScope(index)">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button id="generate-advanced-btn" class="btn btn-outline-primary btn-sm" v-on:click="generateTestPaper()">生成题目</button>
                </form>

                <hr class="my-3" v-if="questions.length > 0">

                <div class="mx-auto text-center" v-if="questions.length > 0">
                    <button id="toggle-answer-btn" class="btn btn-outline-secondary btn-sm" v-on:click="toggleAnswer()">显示答案</button>
                    <button id="export-pdf-btn" class="btn btn-outline-secondary btn-sm" v-on:click="exportToPdf()">导出PDF</button>
                </div>

                <table class="table table-striped my-3">
                    <tbody>
                        <tr v-for="question in questions">
                            <td>{{ formatQuestion(question[0]) }}</td>
                            <td>{{ formatQuestion(question[1]) }}</td>
                        </tr>
                    </tbody>
                </table>

            </article>
        </div>

        <div class="modal fade" id="error-message-dialog" tabindex="-1" role="dialog"
             aria-labelledby="modalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLongTitle">出错啦</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="error-message" class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">
                            朕知道了
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
